<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DatabaseContainer" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TimeViewer;persist security info=True;user id=sa;password=st0*st0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="PathClients" value="E:\Work\Timeviewer\TimeViewer.Modules.Clients\bin\debug\" />-->
    <add key="PathAdministration" value="E:\Work\Timeviewer\TimeViewer.Modules.Administration\bin\Debug\" />
    <add key="PathPlanning" value="E:\Work\Timeviewer\TimeViewer.Modules.Planning\bin\Debug\" />
    <!--
    <add key="PathClients" value="D:\DropBox\Dropbox\TimeViewer\TimeViewer.Modules.Clients\bin\debug\" />
    <add key="PathProducts" value="D:\DropBox\Dropbox\TimeViewer\TimeViewer.Modules.Products\bin\Debug\" />
    <add key="PathOrders" value="D:\DropBox\Dropbox\TimeViewer\TimeViewer.Modules.Order\bin\Debug\" />
    -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>